<%= form_with(model: to_do, local: true) do |form| %>
  <% if to_do.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(to_do.errors.count, "error") %> prohibited this to_do from being saved:</h2>

      <ul>
        <% to_do.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status, "Status", style: "display: block" %>

    <% if to_do.new_record? %>
      <!-- Only allow 'To Do' and 'In Progress' statuses when creating a new task -->
      <%= form.select :status, options_for_select([['To Do', :to_do], ['In Progress', :in_progress]], selected: to_do.status) %>
    <% else %>
      <!-- Allow all statuses when editing -->
      <%= form.select :status, options_for_select(ToDo.statuses.keys.map { |k| [k.humanize, k] }, selected: to_do.status) %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
