<div id="<%= dom_id to_do %>">
  <p>
    <strong>Title:</strong>
    <%= to_do.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= to_do.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= to_do.status %>
  </p>

  <p>
    <strong>Createtime:</strong>
    <%= to_do.createTime %>
  </p>

</div>
