<div id="<%= dom_id to_do %>">
  <p>
    <strong>Title:</strong>
    <%= to_do.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= to_do.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= to_do.status %>
  </p>

  <p>
    <strong>Createtime:</strong>
    <%= to_do.createTime %>
  </p>

  <% if to_do.deadline.present? %>
    <p class="<%= deadline_class(to_do) %>">
      <strong>Deadline:</strong>
      <%= to_do.deadline.strftime('%d %b %Y, %H:%M') %>
    </p>
  <% else %>
    <p>
      <strong>Deadline:</strong> None
    </p>
  <% end %>
</div>
