<%= javascript_include_tag "Custom/drag_drop" %>
<%= javascript_include_tag "Custom/dom" %>

<div class="format-selection text-center mb-4">
  <%= link_to "View as JSON", to_dos_path(format: :json), class: "btn btn-secondary me-2" %>
  <button id="renderWithJS" class="btn btn-primary btn-lg">View as JavaScript</button>
  <%= link_to "View as PDF", to_dos_path(format: :pdf), class: "btn btn-secondary" %>
</div>

<div class="container">
  <div class="row">
    <!-- To Do Column -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">To Do</h3>
        </div>
        <div class="card-body">
          <div id="to_do_list" data-status="to_do" class="sortable-list">
            <% @to_dos['to_do']&.each do |to_do| %>
              <div class="card mb-3 to-do-item" data-id="<%= to_do.id %>">
                <div class="card-body">
                  <%= render to_do %>
                  <p><%= link_to "Show this to do", to_do, class: 'btn btn-outline-primary btn-sm mt-2' %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- In Progress Column -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-warning text-white">
          <h3 class="mb-0">In Progress</h3>
        </div>
        <div class="card-body">
          <div id="in_progress_list" data-status="in_progress" class="sortable-list">
            <% @to_dos['in_progress']&.each do |to_do| %>
              <div class="card mb-3 to-do-item" data-id="<%= to_do.id %>">
                <div class="card-body">
                  <%= render to_do %>
                  <p><%= link_to "Show this to do", to_do, class: 'btn btn-outline-warning btn-sm mt-2' %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Done Column -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h3 class="mb-0">Done</h3>
        </div>
        <div class="card-body">
          <div id="done_list" data-status="done" class="sortable-list">
            <% @to_dos['done']&.each do |to_do| %>
              <div class="card mb-3 to-do-item" data-id="<%= to_do.id %>">
                <div class="card-body">
                  <%= render to_do %>
                  <p><%= link_to "Show this to do", to_do, class: 'btn btn-outline-success btn-sm mt-2' %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-4">
  <%= link_to 'Create New ToDo', new_to_do_path, class: 'btn btn-primary btn-lg' %>
</div>

<!-- Pass the Todos Data as a JSON string to JavaScript -->
<div id="todos-data" data-todos="<%= @to_dos.to_json %>" style="display:none;"></div>

<!-- shift f6 , JavaScript promises, events, API, -->