<p>
  <strong>Title:</strong>
  <%= @to_do.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @to_do.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @to_do.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @to_do.creator.email %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @to_do.assignee.email if @to_do.assignee %>
</p>

<div>
  <%= link_to "Edit this to do", edit_to_do_path(@to_do) %> |
  <%= link_to "Back to to dos", to_dos_path %>
  <%= javascript_include_tag "Custom/dom" %>
  <%= button_to "Destroy this to do", @to_do, method: :delete %>
</div>
