<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="login-card">
        <div class="text-center">
          <i class="fa fa-user-circle fa-3x text-white mb-4"></i>
          <h2 class="text-white">LOGIN</h2>
          <p class="text-white">Please fill the input fields before proceeding</p>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-group" }) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "text-white" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "text-white" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label text-white" %>
          </div>

          <div class="form-group text-center">
            <%= f.submit "Login", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>

        <div class="text-center text-white">
          Don't have an Account? <%= link_to "Sign up", new_user_registration_path %><br>
          <%= link_to "Forgot Password?", new_user_password_path %>
        </div>
      </div>
    </div>
  </div>
</div>
